@import 'node_modules/typi/scss/typi';
@import 'node_modules/modularscale-sass/stylesheets/modular-scale';

$ms-base: 1.2rem;
$ms-ratio: $fourth;

$typi: (
    null: (18px, 1.4)
);

html {
    @include typi-base;
}
