*{
    box-sizing: border-box;
}

body {
    background-color: gray;
    width: 1201px;
    height: 826px;
    font-family: 'Roboto', sans-serif;
    color: #5A6068;
}

#modal2 {
    display: block;
    opacity: 0.9;
    position: relative;
    display: block;
    width: inherit;
    height: inherit;
    margin: 0 auto;
}

#panel_left {
    position: absolute;
    display: inline-block;
    left: 0;
    height: inherit;
    width: 40%;
    background-color: #DDE7F0;
    margin: 0;
}

#modal2model {
    height: 82.5%;
    width: 100%;
}

#quote {
    position: absolute;
    width: 12%;
    top: 78.8%;
    left: 45%;
    opacity: 0.9;
}

.quotable {
    font-size: 1.4rem;
}

#panel_right {
    position: absolute;
    left: 40%;
    right: 0;
    display: inline-block;
    width: 60%;
    height: inherit;
    background-color: #FFFFFF;
}

#top_right_panel {
    height: 21%;
    overflow: hidden;
    margin: 0;
    margin-bottom: -2%;
}

.line {
    height: 2px;
    width: 100%;
    margin: 0;
}

#evidence {
    position: absolute;
    top: 0;
    right: 0;
    height: inherit;
}

.student-info {
    display: inline-block;
    margin: 0;
    width: 33%;
    margin: 0;
    margin-bottom: 2%;
    margin-left: 4%;
}

.student-info-right {
    color: #D2DAE0;
}

#student_name {
    display: block;
    width: 65%;
    font-size: 1.6rem;
    margin-top: 4%;
}

#randomParagraph {
    display: inline-block;
    width: 75%;
    height: 10%;
}

#portfolioAndProfile {
    display: block;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 2%;
}

.pAndp {
    margin: 0;
    display: inline-block;
    width: 45%;
}

#published {
    font-size: 1.6rem;
}

.article {
    display: inline-block;
    width: 48%;
    margin: 0;
    text-align: center;
    text-decoration: none;
    color: #45C2D5;
}

.article_Description {
    display: inline-block;
    width: 48%;
    margin: 0;
    text-align: center;
}