/*------------------------------------*\
  #THEMES
\*------------------------------------*/

:root {
  font-family: 'Roboto', sans-serif;
  background-color: #E0E7E9;
  -webkit-font-smoothing: antialiased; 
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  min-width: 290px;
  margin: 0;
  display: flex;
  flex-direction: column;
}





/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header {
  position: fixed;
  width: 100%;
  z-index: 4;
}





/*------------------------------------*\
  #APP-BAR
\*------------------------------------*/

.app-bar {
  height: 54px;
  background-color: #1F2226;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-bar__spacer {
  height: 118px;
}
@media screen and (min-width: 800px) {
  .app-bar {
    height: 70px;
  }
  .app-bar__spacer {
    height: 195px;
  }
}
.brand {
  display: flex;
  align-items: center;
}
.logo {
  height: 36px;
  width: 36px;
  margin: 0 12px 0 24px;
  cursor: pointer;
}
.title {
  font-size: 22px;
  font-family: 'Roboto Slab', serif;
}
.title--brand-span {
  color: #69BFDD;
  display: none;
}
.title--academy-span {
  color: #A9BBC0;
  display: none;
}
.title--students-span {
  color: #D7E8ED;
  font-family: 'Roboto', sans-serif;
}
.subtitle {
  color: #A9BBC0;
  display: none;
  font-size: 12px;
}
.btn--search--mobile {
  text-align: right;
  flex: 1;
  color: #A4B4BA;
}
.search__icon--mobile {
  vertical-align: middle;
}
.btn--dropdown {
  height: 36px;
  background-color: #282B30;
  outline: none;
  border: none;
  border-radius: 3px;
  min-width: 40px;
  margin: 0 24px 0 24px;
  padding: 0 0 0 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.btn__down-arrow {
  color: #5D6167;
  display: none !important; /* material-icon override */
}
@media screen and (min-width: 800px) {
  .logo {
    height: 48px;
    width: 48px;
  }
  .title {
    display: inline;
  }
  .title--brand-span {
    display: inline;
  }
  .title--academy-span {
    display: inline;
  }
  .subtitle {
    display: block;
  }
  .btn--search--mobile {
    display: none; 
  }
  .btn--dropdown {
    min-width: 65px;
  }
  .btn__down-arrow {
    display: inline !important; /* material-icon override */
  }
}





/*------------------------------------*\
  #SECONDARY-TOOLBAR
\*------------------------------------*/

.secondary-toolbar {
  height: 64px;
  display: flex;
  align-items: center;
  background-color: #E0E7E9;
}
.cohort-details {
  margin: 0 30px 0 24px;
}
.secondary-toolbar__title {
  font-size: 15px;
  font-weight: 300;
  color: #142F48;
}
.secondary-toolbar__subtitle {
  font-size: 11px;
  color: #A4B4BA;
}
.secondary-toolbar__subtitle--short {
  display: none;
}
.btn--registration {
  background-color: #6EC2DD;
  border: none;
  outline: none;
  border-radius: 30px 0 0 30px;
  height: 30px;
  min-width: 120px;
  color: #fff;
  display: flex;
  align-items: center;
  margin-left: auto;
  white-space: nowrap;
  cursor: pointer;
}
.btn--registration__text {
  margin: 0 8px 0 12px;
  font-weight: 500;
  font-size: 13px;
}
.btn--registration__text--desktop {
  display: none;
}
@media screen and (min-width: 800px) {
  .secondary-toolbar {
    height: 125px;
  }
  .secondary-toolbar__title {
    font-size: 26px;
  }
  .secondary-toolbar__subtitle {
    font-size: 13px;
  }
  .secondary-toolbar__subtitle--short {
    display: inline;
  }
  .btn--registration {
    min-width: 245px;
  }
  .btn--registration__text--desktop {
    display: inline;
  }
}





/*------------------------------------*\
  #SEARCH-MOBILE
\*------------------------------------*/

.app-bar.is-search {
  background-color: #fff;
}
.brand.is-search {
  display: none;
}
.btn--search--mobile.is-search {
  display: none;
}
.btn--dropdown.is-search {
  display: none;
}
.secondary-toolbar.is-search {
  display: none;
}
.gallery.is-search {
  display: none;
}
.footer.is-search {
  display: none;
}
.search--mobile {
  display: none;
  margin: 0 8px 0 8px;
}
.btn--back {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: .2s cubic-bezier(.4,0,.2,1);
  background: none;
  border: none;
  outline: none;
  margin: 0 6px 0 6px;
}
.btn--back:active {
  background-color: rgba(153, 153, 153, 0.40);
  transition: .2s cubic-bezier(.4,0,.2,1);
}
.btn--back__icon {
  vertical-align: middle;
  color: #A4B4BA;
}
.search--mobile.is-search {
  display: flex;
  align-items: center;
}
.search__input--mobile {
  border: none;
  outline: none;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #142F48;
}
::-webkit-search-cancel-button {
  -webkit-appearance: none;
}





/*------------------------------------*\
  #SEARCH-DESKTOP
\*------------------------------------*/

.search {
  flex: 1;
  display: none;
  align-items: center;
  border-left: 1px solid rgba(0, 0, 0, .12);
  height: 70px;
  position: relative;
}
.search__input {
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #142F48;
  outline: none;
  margin: 0 18px 0 60px;
}
.search__icon--desktop {
  color: #A4B4BA;
  position: absolute;
  left: 25px;
  
}
.search__input:focus + .search__icon--desktop {
  color: #69BFDD;
}
::-webkit-input-placeholder {
  color: #A4B4BA;
}
:-moz-placeholder {
  color: #A4B4BA;
}
::-moz-placeholder {
   color: #A4B4BA;  
}
:-ms-input-placeholder {  
   color: #A4B4BA;  
}
@media screen and (min-width: 800px) {
  .search {
    display: flex;
  }
}





/*------------------------------------*\
  #GALLERY
\*------------------------------------*/

.gallery {
  flex: 1;
  background-color: #fff;
}
.img-social {
  height: 18px;
  width: 18px;
}
.load-button-spacer {
  display: flex;
  justify-content: center;
}





/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
  background-color: #1F2226;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-map {
  border-top: 1px solid rgba(255, 255, 255, .12);
  border-bottom: 1px solid rgba(255, 255, 255, .12);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}
.menu-item {
  text-decoration: none;
  font-size: 13px;
  color: #BCC3CC;
  padding: 7px;
}
.img-social {
  padding: 15px;
  cursor: pointer;
}
.attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
}
.attribution__title {
  color: #697787;
  font-size: 12px;
  padding: 12px 0 12px 0;
  white-space: nowrap;
}
.attribution__profiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 8px;
}
.attribution__row-1 {
  display: flex;
  flex: 1;
}
.attribution__row-2 {
  display: flex;
  flex: 1;
}
.attribution__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 auto;
  margin: 12px;
}
.profile__img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}
.profile__name {
  color: #9FB1C5;
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  padding-top: 10px;
}
@media screen and (min-width: 800px) {
  .footer-nav {
    flex-direction: row;
  }
  .attribution__profiles {
    flex-direction: row;
    justify-content: center;
  }
}





/*------------------------------------*\
  #ICONOGRAPHY
\*------------------------------------*/

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-33 { font-size: 33px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }